extends ../../layout.pug

block assets
    link(href="css/bundle.css" rel="stylesheet")
    title Checkout

block content
    include ../../includes/paginateMixin
    +paginate(['Home', 'Checkout'])

    include ./components/questions
    include ./components/billing
    include ./components/payment
