.admHeader
    .row
        .burger
            .burger__body
                .burger__item
                .burger__item
                .burger__item

        .admHeader__menu
            .admHeader__divider Navigation menu

            .admHeader__item.admHeader__item_active
                i.fas.fa-user.admHeader__icon
                span Profile
            .admHeader__item
                i.fas.fa-shopping-cart.admHeader__icon
                span My orders
            .admHeader__item
                i.fas.fa-star.admHeader__icon
                span Favorite
            .admHeader__item
                i.fas.fa-comments.admHeader__icon
                span My comments
            .admHeader__item
                i.fas.fa-envelope.admHeader__icon
                span Subscribes

        img(src="image/adminLogo.png").admHeader__logo

    .row.cur.dropdown
        .admHeader__user.dropdown__elem
            .admHeader__name
                span Yuri Prisyazhny

            img(src="image/ava.png").admHeader__photo
            i.fas.fa-sort-down.ml-1

        .dropdown__body
            .dropdown__content
                ul.menu__list
                    li.menu__item Profile
                    li.menu__item Settings
                    li.menu__item Orders
                    li.menu__item Favorite
                    li.menu__item Log out
