.footer
    .container
        .footer__content
            .footer__info
                img(src="./image/logo.png").footer__logo
                .footer__info-content
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam cumque debitis deleniti doloribus earum error id iure, laborum neque nisi odit, possimus quaerat temporibus totam. Aspernatur atque corporis ut!

            .footer__links
                .footer__links-head Useful links

                ul.footer__links-list
                    li.footer__links-item Home
                    li.footer__links-item Checkout
                    li.footer__links-item My account
                    li.footer__links-item Man fashion
                    li.footer__links-item Women fashion
                    li.footer__links-item Cart

            .footer__contacts
                .footer__links-head Contact us

                .footer__contacts-list
                    .footer__contacts-item
                        i.fas.fa-envelope
                        span cssuperpy@gmail.com

                    .footer__contacts-item
                        i.fas.fa-phone-alt
                        span +7043345435543

                    .footer__contacts-item
                        i.fas.fa-link
                        span htmlprogrammer.ru

    hr
    .footer__copy Copyright 2020
