header.header
    .container
        a(href="/")
            img.header__logo(src="image/logo.png")

        nav.header__menu
            a(href='#').header__item Home
            a(href='#').header__item Men
            a(href='#').header__item Women
            a(href='#').header__item Shop
            a(href='#').header__item Pages
            a(href='#').header__item.bord Blog

            span.header__icon.header__icon_badge
                i.fas.fa-shopping-bag
                span.badge 5

            span.header__icon
                i.fas.fa-search
