.reviews-list.my-pad
    span(id='comment_24')
    .reviews-list__item.row
        img(src='./image/ava.png').reviews__ava

        .reviews-list__wrap
            .reviews-list__name
                p Yura
                .reviews-list__icons
                    i.fas.fa-link.reviews-list__icon
                    i.fas.fa-exclamation-triangle.reviews-list__icon
            .reviews-list__message
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium cumque et fuga hic ipsum maxime minus modi molestias nesciunt nobis pariatur perferendis quam quasi quis tempora tenetur totam, vitae!

    span(id='comment_23')
    .reviews-list__item.row
        img(src='./image/ava.png').reviews__ava

        .reviews-list__wrap
            .reviews-list__name
                p Yura
                .reviews-list__icons
                    i.fas.fa-link.reviews-list__icon
                    i.fas.fa-exclamation-triangle.reviews-list__icon
            .reviews-list__message
                a(href='#comment_24').reviews-list__answer.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium cumque et fuga hic ipsum maxime minus modi molestias nesciunt nobis pariatur perferendis quam quasi quis tempora tenetur totam, vitae!

    span(id='comment_22')
    .reviews-list__item.row
        img(src='./image/ava.png').reviews__ava

        .reviews-list__wrap
            .reviews-list__name
                p Yura
                .reviews-list__icons
                    i.fas.fa-link.reviews-list__icon
                    i.fas.fa-exclamation-triangle.reviews-list__icon
            .reviews-list__message
                a(href='#comment_24').reviews-list__answer
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium cumque et fuga hic ipsum maxime minus modi molestias nesciunt nobis pariatur perferendis quam quasi quis tempora tenetur totam, vitae!
