.info.py-pad
    .container
        .info__links
            button.info__home.reviews__but Continue shop
            button.reviews__but.info__settings Settings

        .info__image.my-pad
            img(src="image/ava.png").info__photo

        .info__fields
            .info__field Name: Yuri Prisyazhny
            .info__field Email: cssuperpy@gmail.com

        hr
