.container
    .myOrders.my-pad
        h3 My latest orders

        .table
            .table__head
                .table__head-item ID
                .table__head-item Date
                .table__head-item Price
                .table__head-item Products

            .table__content
                .table__row
                    .table__col #43534455
                    .table__col 20.03.2020
                    .table__col $90.00
                    .table__col TShirt

                .table__row
                    .table__col #43534455
                    .table__col 20.03.2020
                    .table__col $90.00
                    .table__col TShirt

                .table__row
                    .table__col #43534455
                    .table__col 20.03.2020
                    .table__col $90.00
                    .table__col TShirt


        button.reviews__but View all
