.container
    .orders.my-pad
        .orders__content
            .orders__head
                .orders__head-item.orders__head-item_lg Product
                .orders__head-item Price
                .orders__head-item Quantity
                .orders__head-item Total

            .orders__list
                .orders__item
                    .orders__product
                        img(src='./image/product.png').orders__img

                        div
                            .orders__name Soft benim bermuda shorts
                            .orders__color
                                .goods__color-item.goods__color-item_black
                                .orders__size M

                    .orders__price $45.00
                    .orders__quantity

                    .orders__total
                        | $45.00

                    .orders__remove
                        i.fas.fa-times.cur

                .orders__item
                    .orders__product
                        img(src='./image/product.png').orders__img

                        div
                            .orders__name Soft benim bermuda shorts
                            .orders__color
                                .goods__color-item.goods__color-item_black
                                .orders__size M

                    .orders__price $45.00
                    .orders__quantity

                    .orders__total
                        | $45.00

                    .orders__remove
                        i.fas.fa-times.cur

    .orders__actions
        .orders__clear Clear cart

        .orders__update Update cart
