.footer
    .container
        .footer__subscribe
            .footer__subscribe-content
                .footer__subscribe-head Newsletter
                .footer__subscribe-desc Get timely updates from your favorite products

                .footer__subscribe-form
                    .footer__subscribe-wrap
                        i.fas.fa-envelope.footer__subscribe-icon
                        input(placeholder="Enter your email").footer__subscribe-email

                    .footer__subscribe-but
                        i.fas.fa-paper-plane
