header.header
    .container
        a(href="/")
            img.header__logo(src="image/logo.png")

        nav.header__menu
            .header__item Home
            .header__item Men
            .header__item Women
            .header__item Shop
            .header__item Pages
            .header__item.bord Blog

            span.header__icon.header__icon_badge
                i.fas.fa-shopping-bag
                span.badge 5

            span.header__icon
                i.fas.fa-search
