extends ../../layout.pug

block assets
    link(href="css/bundle.css" rel="stylesheet")
    title Sign in

block content
    include ../../includes/paginateMixin
    +paginate(['Home', 'Checkout'])

    include ./components/registerForm
