//global variables

$red: #f24421;
$gray: #333333;
$textGray: #adadad;
$silver: #e5e5e5;
$saleGreen: #40b322;
$soldYellow: #f5cc2a;
$lightGray: #f2f2f2;
$qText: darken(#cacaca, 40%);

$prodColors:'blue', 'green', 'red', 'yellow', 'purple', 'black';

$size: 16px;
$bigSize: 18px;
$headSize: 30px;

$pad: 40px;

%sale{
    position: absolute;
    top: 20px;
    left: 0;

    padding: 5px 10px;

    color: #fff;
    text-transform: uppercase;
}

%button{
    text-align: center;

    font: {
        family: Poppins;
        weight: 300;
        size: 1rem;
    }

    border: none;
    outline: none;
    border-radius: 5px;

    overflow: hidden;
    cursor: pointer;
    transition: .3s;

    color: #fff;
    text-transform: uppercase;
}

@mixin flex($jc: flex-start, $ai: flex-start, $dir: row, $wrap: nowrap){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $dir;
    flex-wrap: $wrap;
}

//general styles

*, *::after, *::before{
    box-sizing: border-box;
}

html{
    font-size: $size;
}

body{
    padding: 0;
    margin: 0;

    height: 100vh;
    width: 100%;

    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 300;

    overflow-x: hidden;
}

.container{
    width: 75%;
    max-width: 1200px;

    margin: 0 auto;
}

.mb-10{
    margin-bottom: 10px;
}

.cur{
    cursor: pointer;
}

.row{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.ml-1{
    margin-left: 1rem;
}

.mr-1{
    margin-right: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

a{
    color: inherit;
    text-decoration: none;
}

.m-pad{
    margin: $pad;
}

.my-1{
    padding: 1rem 0;
}

.py-pad{
    padding: $pad 0;
}

.my-pad{
    margin: $pad 0;
}

.mx-pad{
    margin: 0 $pad;
}

.pr-1{
    padding-right: 1rem;
}

.pl-1{
    padding-left: 1rem;
}

.red{
    color: $red;
}

.text-muted{
    color: $qText;
}

.h-0{
    height: 0;
    overflow: hidden;

    transition: .3s;
}

.hidden{
    opacity: 0;
    transition: .3s;

    display: none;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.center{
    display: flex;
    justify-content: center;
}

.sm{
    padding: 3px 5px !important;
    font-size: 1rem;
}

.menu__list{
    list-style: none;
    padding: 0;

    color: #000;
}

.menu__item{
    width: 100%;
    padding: 10px 0;

    position: relative;

    &::before{
        content: '';

        display: block;
        position: absolute;
        left: 0;
        top: 100%;

        width: 0;
        height: 1px;

        background: $red;

        transition: .3s;
    }

    &:hover::before{
        width: 100%;
    }
}

//styles
@import 'items/input';
@import 'items/checkbox';
@import 'items/radio';
@import 'items/file';
@import 'items/dropdown';
@import 'items/table';
@import 'adaptive/main';
