.goods__list{
    @include flex(space-around, flex-start, row, wrap);

    padding: $pad 0;

    &-product{
        width: 30%;
        text-align: center;

        position: relative;

        @include flex(center, center, column);
    }

    &-photo{
        width: 100%;
        height: fit-content;
    }

    &-info{
        padding: $pad/2 0;
    }

    &-name{
        font-weight: 500;

        margin-bottom: 10px;
    }

    &-price{
        color: $textGray;
        font-weight: 300;
    }

    &-sale{
        @extend %sale;

        background: $saleGreen;
    }

    &-sold{
        @extend %sale;

        background: $soldYellow;
    }

    &-load{
        @include flex(center);

        width: 100%;
    }

    &-more{
        @extend %button;

        padding: 10px 20px;

        background: $red;

        &:hover{
            background: darken($red, 15%);
        }
    }
}
