extends ../../layout.pug

block assets
    link(href="css/bundle.css" rel="stylesheet")
    title Cart

block content
    include ../../includes/paginateMixin
    +paginate(['Home', 'Cart'])

    include components/orders
    include components/check
