.goods__form{
    padding: 0 $pad/2;

    &-head{
        font: {
            weight: 700;
            size: 1.2rem;
            family: 'Poppins';
        }

        position: relative;

        &::after{
            content: '';

            display: block;

            position: absolute;
            left: 0;
            bottom: -10px;

            width: 25%;
            height: 2px;

            background: $silver;
        }
    }

    &-button{
        @extend %button;

        padding: 5px 20px;

        background: #333;

        &:hover{
            background: $red;
        }
    }
}

.goods__categories{
    padding: $pad 0;

    &-list{
        list-style: none;

        padding: 0 $pad/2;
        margin: 0;
    }

    &-item{
        padding: 5px 0;

        position: relative;

        cursor: pointer;

        &::before{
            content: '⯈';

            position: absolute;

            left: -20px;
        }
    }
}

.goods__size{
    padding: $pad 0;
    list-style: none;

    &-item{
        padding: 5px;
        cursor: pointer;

        transition: .2s;

        font: {
            family: 'Poppins';
            weight: 300;
        }

        &_active{
            background: $red;
        }

        &:hover{
            background: transparentize($red, .2);
        }
    }
}

.goods__price{
    margin: $pad 0;
    width: 100%;
    height: 4px;

    background: silver;

    overflow: visible;
    cursor: pointer;

    position: relative;

    &-indicator{
       position: absolute;
       left: 40px;
       right: 50px;

       height: 100%;

        background: transparentize($red, .4);

        &::before, &::after{
            content: '';

            width: 15px;
            height: 15px;

            border-radius: 50%;

            background: $red;

            position: absolute;
            top: -6px;
            left: -8px;
        }

        &::after{
            left: auto;
            right: -8px;
        }
    }

    &-range{
        padding-bottom: 40px;

        font: {
            family: 'Poppins';
            weight: 300;
            size: .9rem;
        }

        color: $textGray;
    }
}
