.goods__items
    .goods__head
        .goods__head-count.
            Showing 1-9 of 21 products
        .goods__head-filter
            select.goods__head-select
                option(selected) Featured products
                option All

            i.fas.fa-chevron-down.goods__head-icon
            .goods__head-line

    .goods__list
        .goods__list-product
            img(src="image/product.png").goods__list-photo

            .goods__list-info
               .goods__list-name The Frog T-Shirt
                .goods__list-price
                       |$30 -
                       s $50

            .goods__list-sale Sale

        .goods__list-product
            img(src="image/product.png").goods__list-photo

            .goods__list-info
                .goods__list-name The Frog T-Shirt
                .goods__list-price
                   | $30 -
                   s $50

            .goods__list-sale Sale

        .goods__list-product
            img(src="image/product.png").goods__list-photo

            .goods__list-info
                .goods__list-name The Frog T-Shirt
                .goods__list-price
                    | $30 -
                    s $50

            .goods__list-sale Sale

    .goods__list-load
        button.goods__list-more Load More
