extends ../../layout.pug

block assets
    link(href="css/bundle.css" rel="stylesheet")
    title Home

block content
    include ../../includes/paginateMixin
    +paginate(['Home', 'Products'])

    .goods
        .container
            include components/goods

            include components/goodsForm
