extends ../../layout.pug

block assets
    link(href="css/layout.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")

block content
    include ../../includes/paginateMixin
    +paginate(['Home', 'Products'])

    .goods
        .container
            include components/goods

            include components/goodsForm
